In [1]:
import pandas as pd

In [2]:
hamburg = pd.read_csv('hamburg.csv')
hamburg

,date,tavg,tmin,tmax,prcp,snow,wdir,wspd,wpgt,pres,tsun
0,2011-01-01,2.7,1.0,4.0,0.0,110.0,277.0,22.7,51.8,1013.4,252
1,2011-01-02,0.9,-0.8,2.8,0.0,80.0,284.0,12.2,26.3,1017.2,162
2,2011-01-03,-0.8,-2.8,0.9,0.0,70.0,257.0,9.0,20.9,1020.1,84
3,2011-01-04,0.8,-1.1,1.5,0.0,60.0,220.0,18.7,40.0,1016.0,0
4,2011-01-05,-2.3,-4.5,-0.6,0.6,50.0,175.0,19.1,37.4,1010.1,252
...,...,...,...,...,...,...,...,...,...,...,...
4012,2021-12-26,-6.0,-9.8,-1.8,0.1,0.0,104.0,10.8,31.3,1013.2,395
4013,2021-12-27,-2.6,-5.9,0.9,0.0,0.0,119.0,17.3,32.0,1004.7,0
4014,2021-12-28,1.8,0.8,2.7,2.2,0.0,124.0,15.8,32.8,995.9,0
4015,2021-12-29,3.1,1.4,6.2,0.6,0.0,180.0,5.8,19.1,1003.3,0
4016,2021-12-30,9.9,5.9,12.3,4.8,0.0,232.0,17.6,46.8,1009.3,0

In [5]:
nan_values = hamburg.isna().sum()
nan_values

date    0
tavg    0
tmin    0
tmax    0
prcp    0
snow    0
wdir    0
wspd    0
wpgt    0
pres    0
tsun    0
dtype: int64

In [6]:
hamburg.dtypes

date     object
tavg    float64
tmin    float64
tmax    float64
prcp    float64
snow    float64
wdir    float64
wspd    float64
wpgt    float64
pres    float64
tsun      int64
dtype: object

In [3]:
cologne = pd.read_csv('cologne.csv')
cologne

,date,tavg,tmin,tmax,prcp,snow,wdir,wspd,wpgt,pres,tsun
0,2011-01-01,1.4,0.1,2.8,1.5,90.0,260.0,7.9,24.5,1020.7,0
1,2011-01-02,0.9,-0.2,1.8,0.4,60.0,291.0,7.9,20.9,1022.7,0
2,2011-01-03,0.4,-0.4,2.0,1.4,50.0,257.0,5.8,15.1,1023.3,12
3,2011-01-04,-1.3,-4.2,0.1,0.0,60.0,150.0,8.3,22.7,1018.4,120
4,2011-01-05,-2.9,-4.3,1.3,6.4,60.0,131.0,16.9,34.9,1010.5,210
...,...,...,...,...,...,...,...,...,...,...,...
4012,2021-12-26,1.9,0.1,3.2,0.0,0.0,115.0,18.4,36.4,1006.1,0
4013,2021-12-27,5.6,2.8,8.0,5.1,0.0,120.0,16.2,27.7,1000.1,43
4014,2021-12-28,8.7,6.8,10.9,13.6,0.0,166.0,16.9,66.6,994.5,17
4015,2021-12-29,9.6,8.2,13.0,6.1,0.0,230.0,14.8,43.9,1006.0,19
4016,2021-12-30,13.5,10.6,15.2,0.0,0.0,233.0,15.1,50.0,1015.8,1

In [8]:
nan_values = cologne.isna().sum()
nan_values

date    0
tavg    0
tmin    0
tmax    0
prcp    0
snow    0
wdir    0
wspd    0
wpgt    0
pres    0
tsun    0
dtype: int64

In [9]:
cologne.dtypes

date     object
tavg    float64
tmin    float64
tmax    float64
prcp    float64
snow    float64
wdir    float64
wspd    float64
wpgt    float64
pres    float64
tsun      int64
dtype: object

In [4]:
berlin = pd.read_csv('berlin.csv')
berlin

,date,tavg,tmin,tmax,prcp,snow,wdir,wspd,wpgt,pres,tsun
0,2011-01-01,2.2,1.0,3.3,0.0,260.0,268.0,29.5,56.2,1011.7,18
1,2011-01-02,0.0,-3.1,1.5,0.0,150.0,275.0,16.2,37.8,1015.7,48
2,2011-01-03,-2.5,-5.3,-0.9,0.2,150.0,265.0,11.5,29.2,1019.8,0
3,2011-01-04,-2.8,-7.9,-0.7,0.0,150.0,202.0,9.7,24.5,1018.6,0
4,2011-01-05,-7.0,-10.5,-3.4,0.0,140.0,161.0,11.5,28.8,1015.1,342
...,...,...,...,...,...,...,...,...,...,...,...
4012,2021-12-26,-8.3,-12.2,-2.7,0.0,0.0,92.0,9.0,21.6,1014.6,369
4013,2021-12-27,-4.3,-9.9,-1.2,0.0,0.0,102.0,16.6,31.3,1008.3,15
4014,2021-12-28,-0.5,-4.2,3.0,2.5,0.0,119.0,16.6,31.3,1000.1,0
4015,2021-12-29,4.1,1.2,5.8,0.2,0.0,215.0,8.3,22.3,1004.0,0
4016,2021-12-30,8.9,4.5,12.9,2.6,0.0,225.0,17.6,38.9,1011.3,0

In [10]:
nan_values = berlin.isna().sum()
nan_values

date    0
tavg    0
tmin    0
tmax    0
prcp    0
snow    0
wdir    0
wspd    0
wpgt    0
pres    0
tsun    0
dtype: int64

In [11]:
berlin.dtypes

date     object
tavg    float64
tmin    float64
tmax    float64
prcp    float64
snow    float64
wdir    float64
wspd    float64
wpgt    float64
pres    float64
tsun      int64
dtype: object

In [13]:
turbines = pd.read_csv('turbines_days_cleaned.csv')
turbines

            date  windturbines_mw
0     2011-01-01        518229.00
1     2011-01-02         83077.00
2     2011-01-03         73095.00
3     2011-01-04        376606.00
4     2011-01-05        216599.00
...          ...              ...
4012  2021-12-26        294921.35
4013  2021-12-27        603998.08
4014  2021-12-28        659450.45
4015  2021-12-29        241640.15
4016  2021-12-30        220220.08

[4017 rows x 2 columns]

In [14]:
nan_values = turbines.isna().sum()
nan_values

date               0
windturbines_mw    0
dtype: int64

In [15]:
turbines.dtypes

date                object
windturbines_mw    float64
dtype: object