In [1]:
#To work on my project I need to have information about wind turbines and the biggest concentration of them in Germany.
#To do it I found an article on wikipedia that I will scrap.
#This will help me with understanding about how I suppose to build my main dataframe, what to include and what to exclude.

In [2]:
import requests
import pandas as pd
from bs4 import BeautifulSoup
import csv
import json

# URL of the Wikipedia page
url = "https://en.wikipedia.org/wiki/Wind_power_in_Germany#By_State"

# Send a request to the webpage
response = requests.get(url)
response.raise_for_status()  # Check if the request was successful

# Parse the HTML content using BeautifulSoup
soup = BeautifulSoup(response.content, 'html.parser')

# Find the table with the specified CSS selector
table = soup.select_one('#mw-content-text .wikitable.sortable')

if table:
    # Extract the table headers
    headers = [header.text.strip() for header in table.find_all('th')]

    # Extract the table rows
    rows = []
    for row in table.find_all('tr')[1:]:
        cells = row.find_all(['td', 'th'])
        rows.append([cell.text.strip() for cell in cells])

    # Create a DataFrame from the extracted data
    df = pd.DataFrame(rows, columns=headers)
df

,State,No. Turbines,Installed Capacity [MW],Watts per capita,% Share in electrical consumption [2011]
0,Saxony-Anhalt,"2,830","5,309","2,447",48.11
1,Brandenburg,"3,984","8,067","3,178",47.65
2,Schleswig-Holstein,"3,067","7,215","2,469",46.46
3,Mecklenburg-Vorpommern,"1,837","3,556","2,207",46.09
4,Lower Saxony,"6,101","11,785","1,468",24.95
5,Thuringia,850,"1,733",821,12.0
6,Rhineland-Palatinate,"1,758","3,862",940,9.4
7,Saxony,871,"1,273",314,8.0
8,Bremen,87,201,297,4.7
9,North Rhine-Westphalia,"3,573","6,548",365,3.9
10,Hesse,"1,139","2,337",371,2.8
11,Saarland,213,520,529,2.5
12,Bavaria,"1,132","2,575",195,1.3
13,Baden-Württemberg,772,"1,729",155,0.9
14,Hamburg,67,122,65,0.7
15,Berlin,6,17,4,0.0
16,Onshore total,"28,287","56,848",,None
17,offshore North Sea,"1,269","6,698",,None
18,offshore Baltic Sea,232,"1,096",,None
19,Offshore total,"1,501","7,794",,None
20,Germany Total,"29,788","64,642",776,17.6

In [3]:
#removing commas for 3 columns
df['No. Turbines'] = df['No. Turbines'].str.replace(',', '')
df['Installed  Capacity [MW]'] = df['Installed  Capacity [MW]'].str.replace(',', '')
df['Watts  per capita'] = df['Watts  per capita'].str.replace(',', '')

In [4]:
df.dtypes

State                                        object
No. Turbines                                 object
Installed  Capacity [MW]                     object
Watts  per capita                            object
% Share in electrical  consumption [2011]    object
dtype: object

In [5]:
df.columns

Index(['State', 'No. Turbines', 'Installed  Capacity [MW]',
       'Watts  per capita', '% Share in electrical  consumption [2011]'],
      dtype='object')

In [6]:
#changing datatypes of 2 columns that I may need in the future
df['No. Turbines'] = pd.to_numeric(df['No. Turbines'], errors='coerce')
df['Installed  Capacity [MW]'] = pd.to_numeric(df['Installed  Capacity [MW]'], errors='coerce')

In [7]:
df.dtypes

State                                        object
No. Turbines                                  int64
Installed  Capacity [MW]                      int64
Watts  per capita                            object
% Share in electrical  consumption [2011]    object
dtype: object

In [8]:
df

,State,No. Turbines,Installed Capacity [MW],Watts per capita,% Share in electrical consumption [2011]
0,Saxony-Anhalt,2830,5309,2447,48.11
1,Brandenburg,3984,8067,3178,47.65
2,Schleswig-Holstein,3067,7215,2469,46.46
3,Mecklenburg-Vorpommern,1837,3556,2207,46.09
4,Lower Saxony,6101,11785,1468,24.95
5,Thuringia,850,1733,821,12.0
6,Rhineland-Palatinate,1758,3862,940,9.4
7,Saxony,871,1273,314,8.0
8,Bremen,87,201,297,4.7
9,North Rhine-Westphalia,3573,6548,365,3.9
10,Hesse,1139,2337,371,2.8
11,Saarland,213,520,529,2.5
12,Bavaria,1132,2575,195,1.3
13,Baden-Württemberg,772,1729,155,0.9
14,Hamburg,67,122,65,0.7
15,Berlin,6,17,4,0.0
16,Onshore total,28287,56848,,None
17,offshore North Sea,1269,6698,,None
18,offshore Baltic Sea,232,1096,,None
19,Offshore total,1501,7794,,None
20,Germany Total,29788,64642,776,17.6

In [9]:
#df.to_csv('wikipedia_turbines.csv', index=False) 
#Saved into a dataframe for further usage (no need to fill NaN/None values with anything, as I need only 2 first columns for tableau)

In [10]:
# Function to read headers from a file
def read_headers(file_path):
    headers = {}
    with open(file_path, "r") as file:
        for line in file:
            key, value = line.strip().split(": ")
            headers[key] = value
    return headers

In [11]:
url = "https://meteostat.p.rapidapi.com/stations/daily"
querystring = {"station":"10147","start":"2011-01-01","end":"2019-12-31"}

# Read headers from file
headers = read_headers("headers.txt")

response = requests.get(url, headers=headers, params=querystring)
hamburg=response.json()
#now the response is saved in data and want to take the keys with values into a scv format.

In [12]:
keys = ['date', 'tavg', 'tmin', 'tmax', 'prcp', 'snow', 'wdir', 'wspd', 'wpgt', 'pres', 'tsun']
values = [[item[key] for key in keys] for item in hamburg['data']]

In [13]:
hamburg = pd.DataFrame(values, columns=keys)

In [14]:
hamburg

,date,tavg,tmin,tmax,prcp,snow,wdir,wspd,wpgt,pres,tsun
0,2011-01-01,2.7,1.0,4.0,0.0,110.0,277.0,22.7,51.8,1013.4,252
1,2011-01-02,0.9,-0.8,2.8,0.0,80.0,284.0,12.2,26.3,1017.2,162
2,2011-01-03,-0.8,-2.8,0.9,0.0,70.0,257.0,9.0,20.9,1020.1,84
3,2011-01-04,0.8,-1.1,1.5,0.0,60.0,220.0,18.7,40.0,1016.0,0
4,2011-01-05,-2.3,-4.5,-0.6,0.6,50.0,175.0,19.1,37.4,1010.1,252
...,...,...,...,...,...,...,...,...,...,...,...
3282,2019-12-27,2.1,-3.1,4.0,0.0,0.0,23.0,7.6,27.7,1031.8,0
3283,2019-12-28,-1.2,-5.2,1.1,0.0,0.0,95.0,8.3,27.0,1042.0,72
3284,2019-12-29,0.6,-3.2,4.3,0.0,0.0,184.0,12.6,29.5,1036.6,6
3285,2019-12-30,5.9,3.5,8.7,0.0,0.0,230.0,18.0,34.6,1025.9,240
3286,2019-12-31,5.8,1.5,8.2,0.0,0.0,280.0,15.8,42.1,1029.7,252

In [15]:
hamburg.dtypes

date     object
tavg    float64
tmin    float64
tmax    float64
prcp    float64
snow    float64
wdir    float64
wspd    float64
wpgt    float64
pres    float64
tsun      int64
dtype: object

In [16]:
nan_values = hamburg.isna().sum()
nan_values

date    0
tavg    0
tmin    0
tmax    0
prcp    0
snow    0
wdir    0
wspd    0
wpgt    5
pres    0
tsun    0
dtype: int64

In [17]:
rows_with_nan = hamburg[hamburg.isna().any(axis=1)]
print(rows_with_nan)

            date  tavg  tmin  tmax  prcp  snow   wdir  wspd  wpgt    pres  \
1751  2015-10-18   8.2   7.5   9.0   3.0   0.0  236.0   7.1   NaN  1018.4
1752  2015-10-19   9.0   3.4  12.9   0.0   0.0  355.0   7.2   NaN  1021.6
2712  2018-06-05  18.0  13.2  24.4   0.0   0.0  329.0  11.4   NaN  1013.4
2730  2018-06-23  12.8  10.8  15.2   1.9   0.0  287.0  23.2   NaN  1020.9
2731  2018-06-24  13.5  11.5  15.9   0.1   0.0  286.0  16.1   NaN  1019.6

      tsun
1751     0
1752   162
2712   642
2730    30
2731    12

In [18]:
#wind turbine per day
# https://www.kaggle.com/datasets/l3llff/wind-power/data
#wiki
# https://en.wikipedia.org/wiki/Wind_power_in_Germany#By_State
#API weather
# https://meteostat.net/de/place/de/hamburg?s=10147&t=2011-01-01/2024-12-30

In [19]:
url = "https://meteostat.p.rapidapi.com/stations/daily"
querystring = {"station":"10147","start":"2020-01-01","end":"2021-12-30"}

# Read headers from file
headers = read_headers("headers.txt")

response = requests.get(url, headers=headers, params=querystring)
hamburg2=response.json()

keys = ['date', 'tavg', 'tmin', 'tmax', 'prcp', 'snow', 'wdir', 'wspd', 'wpgt', 'pres', 'tsun']
values = [[item[key] for key in keys] for item in hamburg2['data']]

hamburg2 = pd.DataFrame(values, columns=keys)

In [20]:
hamburg2

           date  tavg  tmin  tmax  prcp  snow   wdir  wspd  wpgt    pres  tsun
0    2020-01-01   0.0  -3.3   3.6   0.0   0.0  237.0   7.2  23.4  1032.5   162
1    2020-01-02  -0.2  -1.9   4.0   0.0   0.0  225.0  15.8  40.0  1024.9   156
2    2020-01-03   5.9   4.0   8.3   6.6   0.0  235.0  21.6  44.3  1014.8     0
3    2020-01-04   4.7   1.3   7.5   3.9   0.0  273.0  20.5  75.2  1021.7    12
4    2020-01-05   4.0  -0.4   6.0   0.2   0.0  238.0  12.6  29.5  1031.3    60
..          ...   ...   ...   ...   ...   ...    ...   ...   ...     ...   ...
725  2021-12-26  -6.0  -9.8  -1.8   0.1   0.0  104.0  10.8  31.3  1013.2   395
726  2021-12-27  -2.6  -5.9   0.9   0.0   0.0  119.0  17.3  32.0  1004.7     0
727  2021-12-28   1.8   0.8   2.7   2.2   0.0  124.0  15.8  32.8   995.9     0
728  2021-12-29   3.1   1.4   6.2   0.6   0.0  180.0   5.8  19.1  1003.3     0
729  2021-12-30   9.9   5.9  12.3   4.8   0.0  232.0  17.6  46.8  1009.3     0

[730 rows x 11 columns]

In [21]:
hamburg2.dtypes

date     object
tavg    float64
tmin    float64
tmax    float64
prcp    float64
snow    float64
wdir    float64
wspd    float64
wpgt    float64
pres    float64
tsun      int64
dtype: object

In [22]:
result = pd.concat([hamburg, hamburg2], axis=0, ignore_index=True)

In [23]:
result

,date,tavg,tmin,tmax,prcp,snow,wdir,wspd,wpgt,pres,tsun
0,2011-01-01,2.7,1.0,4.0,0.0,110.0,277.0,22.7,51.8,1013.4,252
1,2011-01-02,0.9,-0.8,2.8,0.0,80.0,284.0,12.2,26.3,1017.2,162
2,2011-01-03,-0.8,-2.8,0.9,0.0,70.0,257.0,9.0,20.9,1020.1,84
3,2011-01-04,0.8,-1.1,1.5,0.0,60.0,220.0,18.7,40.0,1016.0,0
4,2011-01-05,-2.3,-4.5,-0.6,0.6,50.0,175.0,19.1,37.4,1010.1,252
...,...,...,...,...,...,...,...,...,...,...,...
4012,2021-12-26,-6.0,-9.8,-1.8,0.1,0.0,104.0,10.8,31.3,1013.2,395
4013,2021-12-27,-2.6,-5.9,0.9,0.0,0.0,119.0,17.3,32.0,1004.7,0
4014,2021-12-28,1.8,0.8,2.7,2.2,0.0,124.0,15.8,32.8,995.9,0
4015,2021-12-29,3.1,1.4,6.2,0.6,0.0,180.0,5.8,19.1,1003.3,0
4016,2021-12-30,9.9,5.9,12.3,4.8,0.0,232.0,17.6,46.8,1009.3,0

In [24]:
nan_values = result.isna().sum()
nan_values

date    0
tavg    0
tmin    0
tmax    0
prcp    0
snow    0
wdir    0
wspd    0
wpgt    5
pres    0
tsun    0
dtype: int64

In [25]:
mean_wpgt = round(result['wpgt'].mean(), 1)
mean_wpgt

40.1

In [26]:
#filling 5 NaNs with mean values of the column
result['wpgt'].fillna(mean_wpgt, inplace=True)

In [27]:
nan_values = result.isna().sum()
nan_values

date    0
tavg    0
tmin    0
tmax    0
prcp    0
snow    0
wdir    0
wspd    0
wpgt    0
pres    0
tsun    0
dtype: int64

In [28]:
##cleaned and now saving
#I will also try to scrap similar information for Cologne airport and Berlin airport or a little place close by
#result.to_csv('hamburg.csv', index=False)

In [29]:
#I need to scrap it again twice, because there's an error happens each time I try
url = "https://meteostat.p.rapidapi.com/stations/daily"
querystring = {"station":"10513","start":"2011-01-01","end":"2019-12-31"}

# Read headers from file
headers = read_headers("headers.txt")

response = requests.get(url, headers=headers, params=querystring)
cologne=response.json()

#now the response is saved in data and want to take the keys with values into a scv format.

keys = ['date', 'tavg', 'tmin', 'tmax', 'prcp', 'snow', 'wdir', 'wspd', 'wpgt', 'pres', 'tsun']
values = [[item[key] for key in keys] for item in cologne['data']]

cologne = pd.DataFrame(values, columns=keys)

cologne

,date,tavg,tmin,tmax,prcp,snow,wdir,wspd,wpgt,pres,tsun
0,2011-01-01,1.4,0.1,2.8,1.5,90.0,260.0,7.9,24.5,1020.7,0
1,2011-01-02,0.9,-0.2,1.8,0.4,60.0,291.0,7.9,20.9,1022.7,0
2,2011-01-03,0.4,-0.4,2.0,1.4,50.0,257.0,5.8,15.1,1023.3,12
3,2011-01-04,-1.3,-4.2,0.1,0.0,60.0,150.0,8.3,22.7,1018.4,120
4,2011-01-05,-2.9,-4.3,1.3,6.4,60.0,131.0,16.9,34.9,1010.5,210
...,...,...,...,...,...,...,...,...,...,...,...
3282,2019-12-27,4.4,1.3,6.2,0.0,0.0,94.0,10.4,27.7,1027.3,0
3283,2019-12-28,0.7,-3.2,3.4,0.0,0.0,115.0,10.4,25.9,1039.6,174
3284,2019-12-29,1.3,-1.1,3.8,0.0,0.0,115.0,13.7,27.0,1037.6,42
3285,2019-12-30,3.9,-2.2,10.1,0.0,0.0,118.0,11.9,24.1,1031.4,366
3286,2019-12-31,1.1,-2.8,5.2,0.0,0.0,129.0,6.5,16.6,1033.0,30

In [30]:
url = "https://meteostat.p.rapidapi.com/stations/daily"
querystring = {"station":"10513","start":"2020-01-01","end":"2021-12-30"}

# Read headers from file
headers = read_headers("headers.txt")

response = requests.get(url, headers=headers, params=querystring)
cologne1=response.json()

#now the response is saved in data and want to take the keys with values into a scv format.

keys = ['date', 'tavg', 'tmin', 'tmax', 'prcp', 'snow', 'wdir', 'wspd', 'wpgt', 'pres', 'tsun']
values = [[item[key] for key in keys] for item in cologne1['data']]

cologne1 = pd.DataFrame(values, columns=keys)

cologne1

           date  tavg  tmin  tmax  prcp  snow   wdir  wspd  wpgt    pres  tsun
0    2020-01-01   1.1  -1.0   3.4   0.0   0.0  113.0  14.8  33.5  1032.4   150
1    2020-01-02   1.8  -2.3   5.3   0.0   0.0  134.0  12.6  29.5  1026.7    48
2    2020-01-03   7.8   4.2  10.2   2.4   0.0  201.0  20.2  53.6  1020.1     0
3    2020-01-04   5.3   2.2   7.1   2.0   0.0  270.0  14.8  40.0  1029.7     0
4    2020-01-05   6.2   5.4   7.2   0.0   0.0  231.0   8.3  20.9  1034.2     0
..          ...   ...   ...   ...   ...   ...    ...   ...   ...     ...   ...
725  2021-12-26   1.9   0.1   3.2   0.0   0.0  115.0  18.4  36.4  1006.1     0
726  2021-12-27   5.6   2.8   8.0   5.1   0.0  120.0  16.2  27.7  1000.1    43
727  2021-12-28   8.7   6.8  10.9  13.6   0.0  166.0  16.9  66.6   994.5    17
728  2021-12-29   9.6   8.2  13.0   6.1   0.0  230.0  14.8  43.9  1006.0    19
729  2021-12-30  13.5  10.6  15.2   0.0   0.0  233.0  15.1  50.0  1015.8     1

[730 rows x 11 columns]

In [31]:
cologne = pd.concat([cologne, cologne1], axis=0, ignore_index=True)
cologne

,date,tavg,tmin,tmax,prcp,snow,wdir,wspd,wpgt,pres,tsun
0,2011-01-01,1.4,0.1,2.8,1.5,90.0,260.0,7.9,24.5,1020.7,0
1,2011-01-02,0.9,-0.2,1.8,0.4,60.0,291.0,7.9,20.9,1022.7,0
2,2011-01-03,0.4,-0.4,2.0,1.4,50.0,257.0,5.8,15.1,1023.3,12
3,2011-01-04,-1.3,-4.2,0.1,0.0,60.0,150.0,8.3,22.7,1018.4,120
4,2011-01-05,-2.9,-4.3,1.3,6.4,60.0,131.0,16.9,34.9,1010.5,210
...,...,...,...,...,...,...,...,...,...,...,...
4012,2021-12-26,1.9,0.1,3.2,0.0,0.0,115.0,18.4,36.4,1006.1,0
4013,2021-12-27,5.6,2.8,8.0,5.1,0.0,120.0,16.2,27.7,1000.1,43
4014,2021-12-28,8.7,6.8,10.9,13.6,0.0,166.0,16.9,66.6,994.5,17
4015,2021-12-29,9.6,8.2,13.0,6.1,0.0,230.0,14.8,43.9,1006.0,19
4016,2021-12-30,13.5,10.6,15.2,0.0,0.0,233.0,15.1,50.0,1015.8,1

In [32]:
#I found it interesting that 2 dataframes have 5 NaN values in the same column wpgt (Wind Peak Gust).
#I will try to fill NaN values with mean amount in that case
nan_values = cologne.isna().sum()
nan_values

date    0
tavg    0
tmin    0
tmax    0
prcp    0
snow    0
wdir    0
wspd    0
wpgt    5
pres    0
tsun    0
dtype: int64

In [33]:
rows_with_nan = cologne[cologne.isna().any(axis=1)]
print(rows_with_nan)

            date  tavg  tmin  tmax  prcp  snow   wdir  wspd  wpgt    pres  \
1980  2016-06-03  17.6  13.8  21.4  15.8   0.0  260.0   6.1   NaN  1010.8
1981  2016-06-04  17.5  12.9  21.5   3.5   0.0  325.0   6.5   NaN  1012.2
1982  2016-06-05  18.7  14.4  25.9   5.1   0.0  332.0   6.6   NaN  1016.1
1983  2016-06-06  20.1  11.4  27.3   0.0   0.0   76.0   6.7   NaN  1018.8
1984  2016-06-07  20.2  15.1  28.5   0.1   0.0   91.0   9.1   NaN  1019.9

      tsun
1980   120
1981    72
1982   234
1983   672
1984   480

In [34]:
mean_wpgt = round(cologne['wpgt'].mean(), 1)
mean_wpgt

35.2

In [35]:
#Doing the same filling with mean
cologne['wpgt'].fillna(mean_wpgt, inplace=True)

In [36]:
nan_values = cologne.isna().sum()
nan_values

date    0
tavg    0
tmin    0
tmax    0
prcp    0
snow    0
wdir    0
wspd    0
wpgt    0
pres    0
tsun    0
dtype: int64

In [37]:
cologne.dtypes

date     object
tavg    float64
tmin    float64
tmax    float64
prcp    float64
snow    float64
wdir    float64
wspd    float64
wpgt    float64
pres    float64
tsun      int64
dtype: object

In [38]:
#cleaned and now saving
#cologne.to_csv('cologne.csv', index=False)

In [39]:
url = "https://meteostat.p.rapidapi.com/stations/daily"
querystring = {"station":"10385","start":"2011-01-01","end":"2019-12-31"}

# Read headers from file
headers = read_headers("headers.txt")

response = requests.get(url, headers=headers, params=querystring)
berlin=response.json()

#now the response is saved in data and want to take the keys with values into a scv format.

keys = ['date', 'tavg', 'tmin', 'tmax', 'prcp', 'snow', 'wdir', 'wspd', 'wpgt', 'pres', 'tsun']
values = [[item[key] for key in keys] for item in berlin['data']]

berlin = pd.DataFrame(values, columns=keys)

berlin

,date,tavg,tmin,tmax,prcp,snow,wdir,wspd,wpgt,pres,tsun
0,2011-01-01,2.2,1.0,3.3,0.0,260.0,268.0,29.5,56.2,1011.7,18
1,2011-01-02,0.0,-3.1,1.5,0.0,150.0,275.0,16.2,37.8,1015.7,48
2,2011-01-03,-2.5,-5.3,-0.9,0.2,150.0,265.0,11.5,29.2,1019.8,0
3,2011-01-04,-2.8,-7.9,-0.7,0.0,150.0,202.0,9.7,24.5,1018.6,0
4,2011-01-05,-7.0,-10.5,-3.4,0.0,140.0,161.0,11.5,28.8,1015.1,342
...,...,...,...,...,...,...,...,...,...,...,...
3282,2019-12-27,3.2,1.0,4.2,0.3,0.0,333.0,13.0,29.5,1029.1,72
3283,2019-12-28,1.5,-2.4,2.7,0.0,0.0,328.0,10.8,22.3,1041.2,6
3284,2019-12-29,-0.4,-4.0,2.4,0.0,0.0,195.0,9.7,22.3,1038.8,306
3285,2019-12-30,4.0,1.3,7.0,0.0,0.0,214.0,15.8,31.3,1028.2,18
3286,2019-12-31,5.2,0.6,7.5,0.0,0.0,276.0,19.8,46.8,1027.5,42

In [40]:
url = "https://meteostat.p.rapidapi.com/stations/daily"
querystring = {"station":"10385","start":"2020-01-01","end":"2021-12-30"}

# Read headers from file
headers = read_headers("headers.txt")

response = requests.get(url, headers=headers, params=querystring)
berlin1=response.json()

#now the response is saved in data and want to take the keys with values into a scv format.

keys = ['date', 'tavg', 'tmin', 'tmax', 'prcp', 'snow', 'wdir', 'wspd', 'wpgt', 'pres', 'tsun']
values = [[item[key] for key in keys] for item in berlin1['data']]

berlin1 = pd.DataFrame(values, columns=keys)

berlin1

           date  tavg  tmin  tmax  prcp  snow   wdir  wspd  wpgt    pres  tsun
0    2020-01-01   1.7  -3.7   5.1   0.0   0.0  250.0  11.9  27.7  1032.7    72
1    2020-01-02  -0.2  -4.6   6.2   0.0   0.0  196.0  10.4  24.1  1026.5   402
2    2020-01-03   4.5   0.9   7.2   4.6   0.0  217.0  23.4  51.8  1017.4     0
3    2020-01-04   4.1   1.8   5.9   5.9   0.0  278.0  27.7  66.6  1019.9     0
4    2020-01-05   1.1  -3.5   3.2   0.0   0.0  255.0  14.0  33.8  1032.1   150
..          ...   ...   ...   ...   ...   ...    ...   ...   ...     ...   ...
725  2021-12-26  -8.3 -12.2  -2.7   0.0   0.0   92.0   9.0  21.6  1014.6   369
726  2021-12-27  -4.3  -9.9  -1.2   0.0   0.0  102.0  16.6  31.3  1008.3    15
727  2021-12-28  -0.5  -4.2   3.0   2.5   0.0  119.0  16.6  31.3  1000.1     0
728  2021-12-29   4.1   1.2   5.8   0.2   0.0  215.0   8.3  22.3  1004.0     0
729  2021-12-30   8.9   4.5  12.9   2.6   0.0  225.0  17.6  38.9  1011.3     0

[730 rows x 11 columns]

In [41]:
berlin = pd.concat([berlin, berlin1], axis=0, ignore_index=True)
berlin

,date,tavg,tmin,tmax,prcp,snow,wdir,wspd,wpgt,pres,tsun
0,2011-01-01,2.2,1.0,3.3,0.0,260.0,268.0,29.5,56.2,1011.7,18
1,2011-01-02,0.0,-3.1,1.5,0.0,150.0,275.0,16.2,37.8,1015.7,48
2,2011-01-03,-2.5,-5.3,-0.9,0.2,150.0,265.0,11.5,29.2,1019.8,0
3,2011-01-04,-2.8,-7.9,-0.7,0.0,150.0,202.0,9.7,24.5,1018.6,0
4,2011-01-05,-7.0,-10.5,-3.4,0.0,140.0,161.0,11.5,28.8,1015.1,342
...,...,...,...,...,...,...,...,...,...,...,...
4012,2021-12-26,-8.3,-12.2,-2.7,0.0,0.0,92.0,9.0,21.6,1014.6,369
4013,2021-12-27,-4.3,-9.9,-1.2,0.0,0.0,102.0,16.6,31.3,1008.3,15
4014,2021-12-28,-0.5,-4.2,3.0,2.5,0.0,119.0,16.6,31.3,1000.1,0
4015,2021-12-29,4.1,1.2,5.8,0.2,0.0,215.0,8.3,22.3,1004.0,0
4016,2021-12-30,8.9,4.5,12.9,2.6,0.0,225.0,17.6,38.9,1011.3,0

In [42]:
nan_values = berlin.isna().sum()
nan_values
#Wow, we have 7 rows at the same column, not 5 as twice before!

date    0
tavg    0
tmin    0
tmax    0
prcp    0
snow    0
wdir    0
wspd    0
wpgt    7
pres    0
tsun    0
dtype: int64

In [43]:
#Filling it again with mean value
mean_wpgt = round(berlin['wpgt'].mean(), 1)
mean_wpgt

38.7

In [44]:
berlin['wpgt'].fillna(mean_wpgt, inplace=True)

In [45]:
nan_values = berlin.isna().sum()
nan_values

date    0
tavg    0
tmin    0
tmax    0
prcp    0
snow    0
wdir    0
wspd    0
wpgt    0
pres    0
tsun    0
dtype: int64

In [46]:
berlin

,date,tavg,tmin,tmax,prcp,snow,wdir,wspd,wpgt,pres,tsun
0,2011-01-01,2.2,1.0,3.3,0.0,260.0,268.0,29.5,56.2,1011.7,18
1,2011-01-02,0.0,-3.1,1.5,0.0,150.0,275.0,16.2,37.8,1015.7,48
2,2011-01-03,-2.5,-5.3,-0.9,0.2,150.0,265.0,11.5,29.2,1019.8,0
3,2011-01-04,-2.8,-7.9,-0.7,0.0,150.0,202.0,9.7,24.5,1018.6,0
4,2011-01-05,-7.0,-10.5,-3.4,0.0,140.0,161.0,11.5,28.8,1015.1,342
...,...,...,...,...,...,...,...,...,...,...,...
4012,2021-12-26,-8.3,-12.2,-2.7,0.0,0.0,92.0,9.0,21.6,1014.6,369
4013,2021-12-27,-4.3,-9.9,-1.2,0.0,0.0,102.0,16.6,31.3,1008.3,15
4014,2021-12-28,-0.5,-4.2,3.0,2.5,0.0,119.0,16.6,31.3,1000.1,0
4015,2021-12-29,4.1,1.2,5.8,0.2,0.0,215.0,8.3,22.3,1004.0,0
4016,2021-12-30,8.9,4.5,12.9,2.6,0.0,225.0,17.6,38.9,1011.3,0

In [47]:
#cleaned and now saving again, scrapping is over for now
#berlin.to_csv('berlin.csv', index=False)