In [1]:
#here I want to try to use weather info only for Hamburg but on hourly basic and see how my models will be giving results with more data given
from datetime import datetime
from meteostat import Hourly
import pandas as pd

In [2]:
# Set time period
start = datetime(2011, 1, 1)
end = datetime(2021, 12, 31, 7, 00)

# Get hourly data
hamburg = Hourly('10147', start, end)
hamburg = hamburg.fetch()

In [3]:
hamburg

,temp,dwpt,rhum,prcp,snow,wdir,wspd,wpgt,pres,tsun,coco
time,,,,,,,,,,,
2011-01-01 00:00:00,2.3,1.3,93.0,0.0,NaN,250.0,22.0,NaN,1015.5,NaN,NaN
2011-01-01 01:00:00,2.3,1.4,94.0,0.0,NaN,250.0,22.7,NaN,1014.2,NaN,NaN
2011-01-01 02:00:00,2.7,2.0,95.0,0.0,NaN,260.0,23.8,NaN,1013.6,NaN,NaN
2011-01-01 03:00:00,2.8,2.2,96.0,0.0,NaN,250.0,23.4,NaN,1012.7,0.0,NaN
2011-01-01 04:00:00,3.1,2.5,96.0,0.3,NaN,260.0,25.2,NaN,1011.6,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...
2021-12-31 03:00:00,12.4,11.3,93.0,0.0,0.0,250.0,23.4,41.0,1012.5,0.0,4.0
2021-12-31 04:00:00,12.5,11.1,91.0,0.0,0.0,240.0,22.3,41.0,1012.3,0.0,7.0
2021-12-31 05:00:00,12.4,10.8,90.0,0.1,0.0,250.0,22.7,42.0,1012.1,0.0,4.0
2021-12-31 06:00:00,12.7,10.6,87.0,0.0,0.0,240.0,20.5,38.0,1011.9,0.0,4.0
2021-12-31 07:00:00,12.6,10.8,89.0,0.0,0.0,230.0,23.0,39.0,1011.6,0.0,4.0

In [4]:
hamburg.reset_index(inplace=True)

In [5]:
hamburg.rename(columns={'time': 'date'}, inplace=True)
hamburg.columns

Index(['date', 'temp', 'dwpt', 'rhum', 'prcp', 'snow', 'wdir', 'wspd', 'wpgt',
       'pres', 'tsun', 'coco'],
      dtype='object')

In [6]:
hamburg['date'] = hamburg['date'].astype(str)
hamburg.dtypes

date     object
temp    float64
dwpt    float64
rhum    float64
prcp    float64
snow    float64
wdir    float64
wspd    float64
wpgt    float64
pres    float64
tsun    float64
coco    float64
dtype: object

In [7]:
nan_percent_column = hamburg.isna().mean() * 100
print("Percentage of NaN values in each column:\n", nan_percent_column)

Percentage of NaN values in each column:
 date     0.000000
temp     0.000000
dwpt     0.000000
rhum     0.000000
prcp     0.042524
snow    91.426734
wdir     0.000000
wspd     0.000000
wpgt    64.510040
pres     0.000000
tsun    16.377987
coco    59.744233
dtype: float64

I would really like to use wpgt column as the corelation in that case was really high for my dayly test, but replacing 64% with mean values would be very wrong. That's why I drop 3 columns and tsun replacing with mean

In [8]:
hamburg = hamburg.drop(['snow', 'wpgt', 'coco'], axis=1)

In [9]:
mean_tsun = round(hamburg['tsun'].mean(), 1)
mean_tsun

13.3

In [10]:
mean_prcp = round(hamburg['prcp'].mean(), 1)
mean_prcp

0.1

In [11]:
hamburg['tsun'].fillna(mean_tsun, inplace=True)

In [12]:
hamburg['prcp'].fillna(mean_prcp, inplace=True)

In [13]:
hamburg

                      date  temp  dwpt  rhum  prcp   wdir  wspd    pres  tsun
0      2011-01-01 00:00:00   2.3   1.3  93.0   0.0  250.0  22.0  1015.5  13.3
1      2011-01-01 01:00:00   2.3   1.4  94.0   0.0  250.0  22.7  1014.2  13.3
2      2011-01-01 02:00:00   2.7   2.0  95.0   0.0  260.0  23.8  1013.6  13.3
3      2011-01-01 03:00:00   2.8   2.2  96.0   0.0  250.0  23.4  1012.7   0.0
4      2011-01-01 04:00:00   3.1   2.5  96.0   0.3  260.0  25.2  1011.6   0.0
...                    ...   ...   ...   ...   ...    ...   ...     ...   ...
96411  2021-12-31 03:00:00  12.4  11.3  93.0   0.0  250.0  23.4  1012.5   0.0
96412  2021-12-31 04:00:00  12.5  11.1  91.0   0.0  240.0  22.3  1012.3   0.0
96413  2021-12-31 05:00:00  12.4  10.8  90.0   0.1  250.0  22.7  1012.1   0.0
96414  2021-12-31 06:00:00  12.7  10.6  87.0   0.0  240.0  20.5  1011.9   0.0
96415  2021-12-31 07:00:00  12.6  10.8  89.0   0.0  230.0  23.0  1011.6   0.0

[96416 rows x 9 columns]

In [14]:
nan_percent_column = hamburg.isna().mean() * 100
print("Percentage of NaN values in each column:\n", nan_percent_column)

Percentage of NaN values in each column:
 date    0.0
temp    0.0
dwpt    0.0
rhum    0.0
prcp    0.0
wdir    0.0
wspd    0.0
pres    0.0
tsun    0.0
dtype: float64

In [15]:
start = datetime(2011, 1, 1)
end = datetime(2021, 12, 31, 7, 00)

# Get hourly data
cologne = Hourly('10513', start, end)
cologne = cologne.fetch()

In [16]:
cologne

,temp,dwpt,rhum,prcp,snow,wdir,wspd,wpgt,pres,tsun,coco
time,,,,,,,,,,,
2011-01-01 00:00:00,0.1,-0.3,97.0,0.0,NaN,130.0,3.6,NaN,1024.4,NaN,NaN
2011-01-01 01:00:00,0.2,-0.2,97.0,0.0,NaN,160.0,2.2,NaN,1023.8,NaN,NaN
2011-01-01 02:00:00,0.5,0.5,100.0,0.0,NaN,170.0,2.9,NaN,1023.5,NaN,NaN
2011-01-01 03:00:00,0.6,0.6,100.0,0.0,NaN,150.0,4.7,NaN,1023.0,0.0,NaN
2011-01-01 04:00:00,0.6,0.6,100.0,0.0,NaN,120.0,4.0,NaN,1022.6,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...
2021-12-31 03:00:00,13.5,9.9,79.0,0.0,NaN,190.0,11.9,21.0,1020.3,0.0,4.0
2021-12-31 04:00:00,13.7,9.7,77.0,0.0,NaN,200.0,15.8,24.0,1020.0,0.0,4.0
2021-12-31 05:00:00,13.0,9.4,79.0,0.0,NaN,200.0,14.0,23.0,1019.9,0.0,4.0
2021-12-31 06:00:00,13.2,9.3,77.0,0.0,0.0,200.0,17.6,26.0,1019.8,0.0,4.0
2021-12-31 07:00:00,12.9,9.0,77.0,0.0,NaN,200.0,15.8,28.0,1019.8,0.0,3.0

In [17]:
cologne.reset_index(inplace=True)

In [18]:
cologne.rename(columns={'time': 'date'}, inplace=True)
cologne.columns

Index(['date', 'temp', 'dwpt', 'rhum', 'prcp', 'snow', 'wdir', 'wspd', 'wpgt',
       'pres', 'tsun', 'coco'],
      dtype='object')

In [19]:
cologne['date'] = cologne['date'].astype(str)
cologne.dtypes

date     object
temp    float64
dwpt    float64
rhum    float64
prcp    float64
snow    float64
wdir    float64
wspd    float64
wpgt    float64
pres    float64
tsun    float64
coco    float64
dtype: object

In [20]:
nan_percent_column = cologne.isna().mean() * 100
print("Percentage of NaN values in each column:\n", nan_percent_column)
#the amount of NaN values is very same in that case to Hamburg, I will make the same cleaning operations as before

Percentage of NaN values in each column:
 date     0.000000
temp     0.000000
dwpt     0.000000
rhum     0.000000
prcp     0.015558
snow    94.151386
wdir     0.000000
wspd     0.000000
wpgt    64.357576
pres     0.000000
tsun    16.289827
coco    60.623755
dtype: float64

In [21]:
cologne = cologne.drop(['snow', 'wpgt', 'coco'], axis=1)

In [22]:
mean_tsun = round(cologne['tsun'].mean(), 1)
mean_prcp = round(cologne['prcp'].mean(), 1)

In [23]:
cologne['tsun'].fillna(mean_tsun, inplace=True)
cologne['prcp'].fillna(mean_prcp, inplace=True)

In [24]:
cologne

                      date  temp  dwpt   rhum  prcp   wdir  wspd    pres  tsun
0      2011-01-01 00:00:00   0.1  -0.3   97.0   0.0  130.0   3.6  1024.4  13.1
1      2011-01-01 01:00:00   0.2  -0.2   97.0   0.0  160.0   2.2  1023.8  13.1
2      2011-01-01 02:00:00   0.5   0.5  100.0   0.0  170.0   2.9  1023.5  13.1
3      2011-01-01 03:00:00   0.6   0.6  100.0   0.0  150.0   4.7  1023.0   0.0
4      2011-01-01 04:00:00   0.6   0.6  100.0   0.0  120.0   4.0  1022.6   0.0
...                    ...   ...   ...    ...   ...    ...   ...     ...   ...
96411  2021-12-31 03:00:00  13.5   9.9   79.0   0.0  190.0  11.9  1020.3   0.0
96412  2021-12-31 04:00:00  13.7   9.7   77.0   0.0  200.0  15.8  1020.0   0.0
96413  2021-12-31 05:00:00  13.0   9.4   79.0   0.0  200.0  14.0  1019.9   0.0
96414  2021-12-31 06:00:00  13.2   9.3   77.0   0.0  200.0  17.6  1019.8   0.0
96415  2021-12-31 07:00:00  12.9   9.0   77.0   0.0  200.0  15.8  1019.8   0.0

[96416 rows x 9 columns]

In [25]:
nan_percent_column = cologne.isna().mean() * 100
print("Percentage of NaN values in each column:\n", nan_percent_column)

Percentage of NaN values in each column:
 date    0.0
temp    0.0
dwpt    0.0
rhum    0.0
prcp    0.0
wdir    0.0
wspd    0.0
pres    0.0
tsun    0.0
dtype: float64

In [26]:
start = datetime(2011, 1, 1)
end = datetime(2021, 12, 31, 7, 00)

# Get hourly data
berlin = Hourly('10385', start, end)
berlin = berlin.fetch()

In [27]:
berlin

,temp,dwpt,rhum,prcp,snow,wdir,wspd,wpgt,pres,tsun,coco
time,,,,,,,,,,,
2011-01-01 00:00:00,1.0,-0.5,90.0,0.0,NaN,260.0,25.9,NaN,1016.5,NaN,NaN
2011-01-01 01:00:00,1.1,-0.2,91.0,0.0,NaN,260.0,28.1,NaN,1015.6,NaN,NaN
2011-01-01 02:00:00,1.2,-0.6,88.0,0.0,NaN,260.0,32.4,NaN,1014.7,NaN,NaN
2011-01-01 03:00:00,1.5,-0.7,85.0,0.0,NaN,260.0,32.8,NaN,1014.4,0.0,NaN
2011-01-01 04:00:00,1.7,-0.6,85.0,0.0,NaN,260.0,32.0,NaN,1012.9,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...
2021-12-31 03:00:00,12.7,11.4,92.0,0.0,NaN,250.0,25.2,37.0,1014.8,0.0,4.0
2021-12-31 04:00:00,12.2,11.3,94.0,0.0,NaN,250.0,23.4,38.0,1014.7,0.0,4.0
2021-12-31 05:00:00,12.1,10.8,92.0,0.0,NaN,240.0,23.4,35.0,1014.5,0.0,3.0
2021-12-31 06:00:00,12.7,10.6,87.0,0.0,0.0,250.0,22.7,35.0,1014.5,0.0,3.0
2021-12-31 07:00:00,12.7,10.4,86.0,0.0,NaN,250.0,27.0,42.0,1014.9,0.0,4.0

In [28]:
berlin.reset_index(inplace=True)
berlin.rename(columns={'time': 'date'}, inplace=True)
berlin.columns

Index(['date', 'temp', 'dwpt', 'rhum', 'prcp', 'snow', 'wdir', 'wspd', 'wpgt',
       'pres', 'tsun', 'coco'],
      dtype='object')

In [29]:
berlin['date'] = cologne['date'].astype(str)
berlin.dtypes

date     object
temp    float64
dwpt    float64
rhum    float64
prcp    float64
snow    float64
wdir    float64
wspd    float64
wpgt    float64
pres    float64
tsun    float64
coco    float64
dtype: object

In [30]:
nan_percent_column = berlin.isna().mean() * 100
print("Percentage of NaN values in each column:\n", nan_percent_column)
#the same here as well.

Percentage of NaN values in each column:
 date     0.000000
temp     0.000000
dwpt     0.000000
rhum     0.000000
prcp     0.129647
snow    94.146200
wdir     0.000000
wspd     0.000000
wpgt    64.355501
pres     0.000000
tsun    16.380061
coco    61.018918
dtype: float64

In [31]:
berlin = berlin.drop(['snow', 'wpgt', 'coco'], axis=1)
mean_tsun = round(berlin['tsun'].mean(), 1)
mean_prcp = round(berlin['prcp'].mean(), 1)

In [32]:
berlin['tsun'].fillna(mean_tsun, inplace=True)
berlin['prcp'].fillna(mean_prcp, inplace=True)
berlin

                      date  temp  dwpt  rhum  prcp   wdir  wspd    pres  tsun
0      2011-01-01 00:00:00   1.0  -0.5  90.0   0.0  260.0  25.9  1016.5  14.6
1      2011-01-01 01:00:00   1.1  -0.2  91.0   0.0  260.0  28.1  1015.6  14.6
2      2011-01-01 02:00:00   1.2  -0.6  88.0   0.0  260.0  32.4  1014.7  14.6
3      2011-01-01 03:00:00   1.5  -0.7  85.0   0.0  260.0  32.8  1014.4   0.0
4      2011-01-01 04:00:00   1.7  -0.6  85.0   0.0  260.0  32.0  1012.9   0.0
...                    ...   ...   ...   ...   ...    ...   ...     ...   ...
96411  2021-12-31 03:00:00  12.7  11.4  92.0   0.0  250.0  25.2  1014.8   0.0
96412  2021-12-31 04:00:00  12.2  11.3  94.0   0.0  250.0  23.4  1014.7   0.0
96413  2021-12-31 05:00:00  12.1  10.8  92.0   0.0  240.0  23.4  1014.5   0.0
96414  2021-12-31 06:00:00  12.7  10.6  87.0   0.0  250.0  22.7  1014.5   0.0
96415  2021-12-31 07:00:00  12.7  10.4  86.0   0.0  250.0  27.0  1014.9   0.0

[96416 rows x 9 columns]

In [33]:
nan_percent_column = berlin.isna().mean() * 100
print("Percentage of NaN values in each column:\n", nan_percent_column)

Percentage of NaN values in each column:
 date    0.0
temp    0.0
dwpt    0.0
rhum    0.0
prcp    0.0
wdir    0.0
wspd    0.0
pres    0.0
tsun    0.0
dtype: float64

In [34]:
#Now we have a test data to do the same way as I did before. 3 cities, 3 dataset. I will merge them together and find mean values for the dataset.

In [35]:
df = pd.merge(hamburg, cologne, on='date', suffixes=('_hamburg', '_cologne'))
df = pd.merge(df, berlin, on='date')
df

,date,temp_hamburg,dwpt_hamburg,rhum_hamburg,prcp_hamburg,wdir_hamburg,wspd_hamburg,pres_hamburg,tsun_hamburg,temp_cologne,...,pres_cologne,tsun_cologne,temp,dwpt,rhum,prcp,wdir,wspd,pres,tsun
0,2011-01-01 00:00:00,2.3,1.3,93.0,0.0,250.0,22.0,1015.5,13.3,0.1,...,1024.4,13.1,1.0,-0.5,90.0,0.0,260.0,25.9,1016.5,14.6
1,2011-01-01 01:00:00,2.3,1.4,94.0,0.0,250.0,22.7,1014.2,13.3,0.2,...,1023.8,13.1,1.1,-0.2,91.0,0.0,260.0,28.1,1015.6,14.6
2,2011-01-01 02:00:00,2.7,2.0,95.0,0.0,260.0,23.8,1013.6,13.3,0.5,...,1023.5,13.1,1.2,-0.6,88.0,0.0,260.0,32.4,1014.7,14.6
3,2011-01-01 03:00:00,2.8,2.2,96.0,0.0,250.0,23.4,1012.7,0.0,0.6,...,1023.0,0.0,1.5,-0.7,85.0,0.0,260.0,32.8,1014.4,0.0
4,2011-01-01 04:00:00,3.1,2.5,96.0,0.3,260.0,25.2,1011.6,0.0,0.6,...,1022.6,0.0,1.7,-0.6,85.0,0.0,260.0,32.0,1012.9,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96411,2021-12-31 03:00:00,12.4,11.3,93.0,0.0,250.0,23.4,1012.5,0.0,13.5,...,1020.3,0.0,12.7,11.4,92.0,0.0,250.0,25.2,1014.8,0.0
96412,2021-12-31 04:00:00,12.5,11.1,91.0,0.0,240.0,22.3,1012.3,0.0,13.7,...,1020.0,0.0,12.2,11.3,94.0,0.0,250.0,23.4,1014.7,0.0
96413,2021-12-31 05:00:00,12.4,10.8,90.0,0.1,250.0,22.7,1012.1,0.0,13.0,...,1019.9,0.0,12.1,10.8,92.0,0.0,240.0,23.4,1014.5,0.0
96414,2021-12-31 06:00:00,12.7,10.6,87.0,0.0,240.0,20.5,1011.9,0.0,13.2,...,1019.8,0.0,12.7,10.6,87.0,0.0,250.0,22.7,1014.5,0.0
96415,2021-12-31 07:00:00,12.6,10.8,89.0,0.0,230.0,23.0,1011.6,0.0,12.9,...,1019.8,0.0,12.7,10.4,86.0,0.0,250.0,27.0,1014.9,0.0

In [36]:
# Select the columns that need averaging
weather_columns = ['temp', 'dwpt', 'rhum', 'prcp', 'wdir', 'wspd', 'pres', 'tsun']

# Calculate the mean for each weather statistic
for col in weather_columns:
    df[col] = df[[f'{col}_hamburg', f'{col}_cologne', col]].mean(axis=1)

# Select only the date and averaged columns
df = df[['date'] + weather_columns]

In [37]:
df

,date,temp,dwpt,rhum,prcp,wdir,wspd,pres,tsun
0,2011-01-01 00:00:00,1.133333,0.166667,93.333333,0.000000,213.333333,17.166667,1018.800000,13.666667
1,2011-01-01 01:00:00,1.200000,0.333333,94.000000,0.000000,223.333333,17.666667,1017.866667,13.666667
2,2011-01-01 02:00:00,1.466667,0.633333,94.333333,0.000000,230.000000,19.700000,1017.266667,13.666667
3,2011-01-01 03:00:00,1.633333,0.700000,93.666667,0.000000,220.000000,20.300000,1016.700000,0.000000
4,2011-01-01 04:00:00,1.800000,0.833333,93.666667,0.100000,213.333333,20.400000,1015.700000,0.000000
...,...,...,...,...,...,...,...,...,...
96411,2021-12-31 03:00:00,12.866667,10.866667,88.000000,0.000000,230.000000,20.166667,1015.866667,0.000000
96412,2021-12-31 04:00:00,12.800000,10.700000,87.333333,0.000000,230.000000,20.500000,1015.666667,0.000000
96413,2021-12-31 05:00:00,12.500000,10.333333,87.000000,0.033333,230.000000,20.033333,1015.500000,0.000000
96414,2021-12-31 06:00:00,12.866667,10.166667,83.666667,0.000000,230.000000,20.266667,1015.400000,0.000000
96415,2021-12-31 07:00:00,12.733333,10.066667,84.000000,0.000000,226.666667,21.933333,1015.433333,0.000000

In [38]:
columns_to_round = ['temp', 'dwpt', 'rhum', 'prcp', 'wdir', 'wspd', 'pres']

df.loc[:, columns_to_round] = df.loc[:, columns_to_round].round(1)
df['tsun'] = df['tsun'].round().astype('int64')

SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [39]:
df

                      date  temp  dwpt  rhum  prcp   wdir  wspd    pres  tsun
0      2011-01-01 00:00:00   1.1   0.2  93.3   0.0  213.3  17.2  1018.8    14
1      2011-01-01 01:00:00   1.2   0.3  94.0   0.0  223.3  17.7  1017.9    14
2      2011-01-01 02:00:00   1.5   0.6  94.3   0.0  230.0  19.7  1017.3    14
3      2011-01-01 03:00:00   1.6   0.7  93.7   0.0  220.0  20.3  1016.7     0
4      2011-01-01 04:00:00   1.8   0.8  93.7   0.1  213.3  20.4  1015.7     0
...                    ...   ...   ...   ...   ...    ...   ...     ...   ...
96411  2021-12-31 03:00:00  12.9  10.9  88.0   0.0  230.0  20.2  1015.9     0
96412  2021-12-31 04:00:00  12.8  10.7  87.3   0.0  230.0  20.5  1015.7     0
96413  2021-12-31 05:00:00  12.5  10.3  87.0   0.0  230.0  20.0  1015.5     0
96414  2021-12-31 06:00:00  12.9  10.2  83.7   0.0  230.0  20.3  1015.4     0
96415  2021-12-31 07:00:00  12.7  10.1  84.0   0.0  226.7  21.9  1015.4     0

[96416 rows x 9 columns]

In [40]:
data = pd.read_csv('data for project/turbines.csv', parse_dates=['dt'])

# Set the timestamp as the index
data.set_index('dt', inplace=True)

# Resample data to hourly frequency and calculate the sum of MW for each hour
data = data.resample('H').agg({
    'MW': ['sum']
})

# Rename columns for clarity
data.columns = ['Sum Value']

# Reset the index if needed
data.reset_index(inplace=True)

In [41]:
data

                       dt  Sum Value
0     2011-01-01 00:00:00   18049.00
1     2011-01-01 01:00:00   20961.00
2     2011-01-01 02:00:00   22521.00
3     2011-01-01 03:00:00   24071.00
4     2011-01-01 04:00:00   25428.00
...                   ...        ...
96387 2021-12-30 03:00:00   25099.92
96388 2021-12-30 04:00:00   27460.06
96389 2021-12-30 05:00:00   31316.13
96390 2021-12-30 06:00:00   33687.68
96391 2021-12-30 07:00:00   33474.45

[96392 rows x 2 columns]

In [42]:
data.columns

Index(['dt', 'Sum Value'], dtype='object')

In [43]:
#renaming columns into the one that I want to have
data.rename(columns={'dt': 'date', 'Sum Value': 'windturbines_mw'}, inplace=True)

In [44]:
data['date'] = data['date'].astype(str)

In [45]:
nan_values = data.isna().sum()
nan_values

date               0
windturbines_mw    0
dtype: int64

In [46]:
data.dtypes

date                object
windturbines_mw    float64
dtype: object

In [47]:
#data.to_csv('data for project/turbines_hours_cleaned.csv', index=False) #saved after changing the file into a dayly form

In [48]:
merged_data = pd.merge(df,data, on='date')

In [49]:
merged_data

,date,temp,dwpt,rhum,prcp,wdir,wspd,pres,tsun,windturbines_mw
0,2011-01-01 00:00:00,1.1,0.2,93.3,0.0,213.3,17.2,1018.8,14,18049.00
1,2011-01-01 01:00:00,1.2,0.3,94.0,0.0,223.3,17.7,1017.9,14,20961.00
2,2011-01-01 02:00:00,1.5,0.6,94.3,0.0,230.0,19.7,1017.3,14,22521.00
3,2011-01-01 03:00:00,1.6,0.7,93.7,0.0,220.0,20.3,1016.7,0,24071.00
4,2011-01-01 04:00:00,1.8,0.8,93.7,0.1,213.3,20.4,1015.7,0,25428.00
...,...,...,...,...,...,...,...,...,...,...
96387,2021-12-30 03:00:00,8.4,7.1,92.0,0.0,213.3,12.0,1010.0,0,25099.92
96388,2021-12-30 04:00:00,8.5,7.6,94.0,0.0,220.0,13.9,1010.5,0,27460.06
96389,2021-12-30 05:00:00,8.1,7.7,97.0,0.7,220.0,14.2,1010.9,0,31316.13
96390,2021-12-30 06:00:00,8.8,8.4,97.0,0.0,223.3,14.6,1011.3,0,33687.68
96391,2021-12-30 07:00:00,9.3,8.7,95.7,0.0,226.7,14.0,1011.8,0,33474.45

In [50]:
nan_percent_column = merged_data.isna().mean() * 100
print("Percentage of NaN values in each column:\n", nan_percent_column)

Percentage of NaN values in each column:
 date               0.0
temp               0.0
dwpt               0.0
rhum               0.0
prcp               0.0
wdir               0.0
wspd               0.0
pres               0.0
tsun               0.0
windturbines_mw    0.0
dtype: float64

In [51]:
merged_data['date'] = pd.to_datetime(df['date'])

# Extract year, month, day, and hour
merged_data['year'] = merged_data['date'].dt.year
merged_data['month'] = merged_data['date'].dt.month
merged_data['day'] = merged_data['date'].dt.day
merged_data['hour'] = merged_data['date'].dt.hour

In [52]:
merged_data

,date,temp,dwpt,rhum,prcp,wdir,wspd,pres,tsun,windturbines_mw,year,month,day,hour
0,2011-01-01 00:00:00,1.1,0.2,93.3,0.0,213.3,17.2,1018.8,14,18049.00,2011,1,1,0
1,2011-01-01 01:00:00,1.2,0.3,94.0,0.0,223.3,17.7,1017.9,14,20961.00,2011,1,1,1
2,2011-01-01 02:00:00,1.5,0.6,94.3,0.0,230.0,19.7,1017.3,14,22521.00,2011,1,1,2
3,2011-01-01 03:00:00,1.6,0.7,93.7,0.0,220.0,20.3,1016.7,0,24071.00,2011,1,1,3
4,2011-01-01 04:00:00,1.8,0.8,93.7,0.1,213.3,20.4,1015.7,0,25428.00,2011,1,1,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96387,2021-12-30 03:00:00,8.4,7.1,92.0,0.0,213.3,12.0,1010.0,0,25099.92,2021,12,30,3
96388,2021-12-30 04:00:00,8.5,7.6,94.0,0.0,220.0,13.9,1010.5,0,27460.06,2021,12,30,4
96389,2021-12-30 05:00:00,8.1,7.7,97.0,0.7,220.0,14.2,1010.9,0,31316.13,2021,12,30,5
96390,2021-12-30 06:00:00,8.8,8.4,97.0,0.0,223.3,14.6,1011.3,0,33687.68,2021,12,30,6
96391,2021-12-30 07:00:00,9.3,8.7,95.7,0.0,226.7,14.0,1011.8,0,33474.45,2021,12,30,7

In [53]:
merged_data = merged_data.drop(['date'], axis=1)

In [54]:
merged_data.dtypes

temp               float64
dwpt               float64
rhum               float64
prcp               float64
wdir               float64
wspd               float64
pres               float64
tsun                 int64
windturbines_mw    float64
year                 int32
month                int32
day                  int32
hour                 int32
dtype: object

In [56]:
#merged_data.to_csv('data for project/test_hour_set.csv', index=False)